{{ $path := .Params.cardImg  }}
{{ $img := resources.Get $path }}
{{ $resizedSmall := $img.Resize "200x" }}
{{ $resizedMedium := $img.Resize "600x" }}
{{ $resizedLarge := $img.Resize "800x" }}

<li>
    <div class="articleCard">
        <div class="articleImg">
            <a href={{ .Params.Url }}>
                <img class="articleImage"
                srcset="{{ .Params.cardImg }} 1280w, {{ $resizedSmall.RelPermalink }} 200w, {{ $resizedMedium.RelPermalink }} 600w, {{ $resizedLarge.RelPermalink }} 800w "
                sizes="(max-width: 800px) 1200px, 200px, 600px, 800px"
                src="{{ .Params.cardImg }}">
            </a>
        </div>
        <div class="articleInfo">
            <div class="headline">
                <a href= {{ .Params.Url }}>
                    <h2>{{ .Params.Title }}</h2>
                </a>
            </div>
            <div class="articleDescription">
                <p class="articleDescriptionText">{{ .Params.ArticleDescription }}</p>
            </div>
            <div class="byLine">
                <h3>{{ .Params.Author }}</h3>
            </div>
        </div>
    </div>
</li>