<header class="headerContainer">
            
    <a href="index.html">
        <div id="pageTitle">
            <img src="assets/social/logo.png", width=70px, alt="AEC Logo">
            <h1>All Else Constant</h1>
        </div>
    </a>

    <nav class="topNav">
        <ul class="navLinks">
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/archives.html">Archives</a></li>
        </ul>
    </nav>
</header>
<hr>