<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/social/LOGOFavIcon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="defaults.css" rel="stylesheet">
    <link href="{{ .Params.defaultStyles }}" rel="stylesheet">
    <link href="{{ .Params.specificStyles }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    {{ $title := site.Title }}
    {{ if not .IsHome }}
        {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>{{ $title }}</title>
    {{if in .Params.Categories "article" }}
        <script src="https://d3js.org/d3.v5.min.js" ></script>
        <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
        <script src="https://d3js.org/d3-axis.v1.min.js" defer></script>
        <script src="https://d3js.org/d3-time.v1.min.js"></script>
        <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    {{ end }}


</head>