:root{
    --yale-blue: #0A5282;
    --amber-sae: #FF7D09;
    --green-ryb: #51A520;
    --blue-jeans: #6DAEDB;
    --patriarch: #6C1075;
}

html {
    font-size: 16px;
    font-family: "LindenHill", serif;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

.sectionSpacer{
    height: 4em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--yale-blue)
}

.content{
    width: 80vw;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.contentBody{
    display: inline-block;
    /* border: 1px solid red; */

}

footer{
    width: 95vw;
    height: 5vw;
    min-height: 70px;
    max-width: 100%;
    text-align: center;
}

.footerContainer{
    text-align: right;
}

.copyrightMast{
    text-align: center;
    display: block;
    display:inline-block;
}

.copyrightMast p{
    font-size: inherit;
    text-align: center;
    width: 100%;
}

ul .topNav{
    flex: 1 1 auto;
    overflow: auto;
    text-align: right;
    min-width: 0;
    width: 20%;
}

.navLinks{
    height: 25px;
}

.navLinks li{
    padding: 0 15px;
    display: inline-block;
    font-size: 1rem;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.navLinks li:nth-child(3){
    padding-right: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.navLinks a:before{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    padding-top: 1px;
    top: 18px;
    left: 15;
    background: var(--yale-blue);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navLinks a:hover:before{
    visibility: visible;
    width: 20px;
}

hr {
    border-top: 4px solid black;
    margin-bottom: 10px;
}

.topTitleLogoContainer{
    text-align: center;
    padding: 10px;
}

.topTitleLogoContainer h2{
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
}

h1{
    font-family: "Spectral", serif;
    font-size: 2.5em;
    text-align: center;
}

h1::after{
    content: "";
    display: block;
    position: relative;
    top: 0.5rem;
    left: 48%;
    margin-left: -1.5rem;
    height: 4px;
    width: 3rem;
    margin: 0.25rem 0;
    background: var(--yale-blue)
}

p{
    font-family: "Spectral", serif;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    width: 80%; 
    margin: 30px auto;
}

@media (max-width: 600px){
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

#finAppBarChart{
    width: 100%;
    margin: 30px auto;
}

.bar{
    opacity: 1;
}

.tooltipdiv{
    display: inline;
    background-color: white;
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    opacity: 1;
}

@media (max-width: 600px){
    .tooltipdiv{
       display: inline;
       position: absolute;
       opacity: 0.99;
    }
}

.chartTitle{
    display: inline;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.chartTitle::after{
    content: "";
    display: block;
    position: relative;
    /* top: 0.5rem;
    left: 48%; */
    /* margin-left: -1.5rem; */
    height: 4px;
    width: 3rem;
    margin: 0.25rem 0;
    background: var(--yale-blue)
}

@media (max-width: 600px){
    .charTitle{
        font-size: 0.75rem;
    }
}

.tick text{
    font-family: 'LindenHill', serif;
    font-size: 12px;
}