<hr>
<div class="emailSocialBar" style="margin-top: 10px;">
    <div class="emailSocialBarContent">
        <div class="emailHeadline">
            <h2>Like what's changed? Get the latest emailed to you!</h2>
        </div>
        <div class="emailForm">
            <form>
                <input type="email" placeholder="Email Address">
                <input type="submit" value="Join">
            </form>
        </div>
        <div class="socialHeadline">
            <h2>And follow what changes on social media!</h2>
        </div>
        <div id="socialLinks">
            <a href="https://facebook.com">
                <img src="assets/social/facebook-light.svg" alt="facebook logo svg">
            </a>
            <a href="https://twitter.com">
                <img src="assets/social/twitter-light.svg" alt="twitter logo svg">
            </a>
            <a href="https://instagram.com">
                <img src="assets/social/instagram-light.svg" alt="instagram logo svg">
            </a>
        </div>
    </div>
</div>