html{
    font-size: 16px;
    
}

.content{
    text-align: center;
    width: 100%;
}

.contentBody{
    display: inline-block;
    width: 80%;
    max-width: 80%;
    text-align: left;
}

h3{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

h4{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

h4::after{
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 4px;
    width: 3rem;
    margin: 0.25rem 0;
    background: var(--yale-blue);
}
p{
    font-family: "LindenHill", serif;
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
    overflow-wrap: normal;
}

.tagsList {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    max-width: 100%;
    padding: 1rem 0;
}

ul h6 li{
    display: inline-block;
    padding: 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--yale-blue);
}

section ul li:nth-child(1){
    padding-left: 0;
}