<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
        {{ if .IsHome }}
            <link href="styles.css", rel="stylesheet">
        {{ end }}
    </head>
    <body>
        {{ if not (in .Params.Categories "article") }}
            {{ partial "header.html" . }}
            {{ block "main" . }}
            {{ end }}
            {{ partial "footer.html" . }}
        {{ else}}
            {{ block "main" . }}
            {{ end }}
            {{ partial "footer.html" . }}
        {{ end}}
    </body>

</html>